tmp/
out/
cf-cli-plugin
mta-op-*/
.DS_Store
*/.DS_Store
.idea
mta_plugin_darwin_amd64
mta_plugin_linux_amd64
mta_plugin_windows_amd64.exe
multiapps-plugin.win32
multiapps-plugin.win64
multiapps-plugin.linux32
multiapps-plugin.linux64
multiapps-plugin.osx